.featured-block__date:after {
    display: none;
}

.featured-block__date {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.featured-block__item-title {
    font-size: 14px !important;
}

.icon-chevron-right:before {
    display: none;
}

.featured-block__list {
    margin-bottom: 0 !important;
}

.featured-block__head {
    position: relative;
    margin-bottom: 100px !important;
}

.featured-block__title {
    position: absolute;
    left: 50%;transform: translateX(-50%);
}

.featured-block {
    background-image: none !important;
    background-color: #f8f8f8;
    padding: 20px !important;
    margin-bottom: 50px;
}

.single-post__text iframe {
    height: 55vh !important;
}

.single-post {
    padding-top: 140px !important;
}

.single-post__head iframe {
    height: 100%;
}